/*-------------------------------------------
全体の設定
-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  background-repeat: no-repeat;
  // ▼親要素の値を継承する
  // 参考：https://jajaaan.co.jp/web-production/frontend/box-sizing/
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // ▼デフォルトを10pxにする
  // 参考：https://jajaaan.co.jp/css/font-size-rem/
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #333;
  font-size: 1.6rem;
  color: #333;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.08em;
  position: relative;
}

// ▼レスポンシブ時の右側の余白を消す
// 参考：https://aya2kiku.com/htmlcss_space/
.wrap {
  overflow: hidden;
}

/*-------------------------------------------
共通
-------------------------------------------*/
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #333;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

p {
  font-weight: normal;
  text-align: justify;
}

// https://design-levelup.com/webdesign/html_css_making_2/
.section-title-center {
  text-align: center;

  .section-title-en {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    padding: 0 55px;
    letter-spacing: 0.2em;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 50px;
      height: 2px;
      background-color: #666;
    }

    &:before {
      left: -10px;
    }

    &:after {
      right: -10px;
    }
  }

  .section-title-ja {
    text-align: center;
    margin-bottom: 80px;
  }
}

.bubble {
  position: absolute;
  bottom: -40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: bubble 10s ease-in infinite;
  z-index: 10;
}

.bubble:nth-child(1) {
  width: 20px;
  height: 20px;
  left: 30%;
  animation-duration: 6s;
}

.bubble:nth-child(2) {
  left: 20%;
  animation-duration: 3.5s;
}

.bubble:nth-child(3) {
  width: 30px;
  height: 30px;
  left: 30%;
  animation-duration: 7s;
}

.bubble:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 67%;
  animation-duration: 6s;
}

.bubble:nth-child(5) {
  width: 20px;
  height: 20px;
  left: 70%;
  animation-duration: 4.5s;
}

@keyframes bubble {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    bottom: 100%;
  }
}

// .fish {
//   position: absolute;
//   top: 50px;
//   width: 40px;
//   height: 40px;
//   background-color: transparent;
//   animation: fish 20s ease-in infinite;
//   animation-duration: 18s;
// }

// @keyframes fish {
//   0% {
//     right: -100px;
//     transform: translateY(0);
//   }
//   20% {
//     transform: translateY(70px);
//   }
//   40% {
//     transform: translateY(90px);
//   }
//   60% {
//     transform: translateY(60px);
//   }
//   80% {
//     transform: translateY(180px);
//   }
//   100% {
//     transform: translateY(280px);
//     right: 1500px;
//   }
// }

/*-------------------------------------------
ヘッダー
-------------------------------------------*/

#header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  margin-bottom: 80px;

  #nav {
    height: 80px;
    background: #95c5e0;
    padding: 0 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 899px) {
      padding: 10px 40px;
    }

    @media screen and (max-width: 599px) {
      width: 100%;
      flex-wrap: wrap;
      padding: 0;
      justify-content: center;
      padding-bottom: 10px;
      height: 100px;
    }
  }

  .site-title {
    a {
      display: inline-block;
      font-size: 3rem;
      font-family: Oleo Script;
      font-weight: normal;
      letter-spacing: 0.08em;
      color: #fffade;
    }
  }

  ul {
    display: flex;
  }

  li {
    padding-left: 56px;

    @media screen and (max-width: 599px) {
      padding-left: 30px;

      &:first-child {
        padding-left: 0;
      }
    }

    a {
      position: relative;
      color: #fff;
    }

    a::after {
      /*マークのスタイル*/
      position: absolute;
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      background-color: #fff;
      border-radius: 50%;
      top: -15px;
      left: calc(50% - 5px);
      /*不透明度0で非表示*/
      opacity: 0;
      /*アニメーションの速度設定*/
      -webkit-transition: all 0.1s ease;
      transition: all 0.1s ease;
    }
    a:hover::after {
      /*不透明度1で表示*/
      opacity: 1;
    }
  }
}

#header.sample-page {
  position: fixed;
}

// ホバーエフェクト参考：https://cr-note.com/blog25/

/*-------------------------------------------
ファーストビュー
-------------------------------------------*/
#firstview {
  position: relative;
  background: #95c5e0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 599px) {
    // height: 90vh;
  }

  .first-title {
    display: inline-block;
    position: relative;
    color: #fffade;
    font-size: 11.5rem;
    // font-family: Oleo Script;
    font-weight: normal;
    letter-spacing: 0.08em;
    background: transparent;
    text-shadow: 0px 10px 1px #316482;
    animation: fadeIn 3s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
    //TODO:グローバルに持っていく

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @media (max-width: 599px) {
      font-size: 5rem;
      text-align: center;
      margin-left: 0;
    }

    .circle-01,
    .circle-02,
    .circle-03 {
      position: absolute;
      top: 3%;
      // TODO:変数にする
      background: #c7e1ed;
      opacity: 0.5;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      z-index: 3;

      @media (max-width: 599px) {
        width: 80px;
        height: 80px;
        top: 6%;
      }
    }

    .circle-01 {
      left: 0;
    }

    .circle-02 {
      left: 35%;

      @media (max-width: 599px) {
        left: 34%;
      }
    }

    .circle-03 {
      right: 0;
    }
  }
}

/*-------------------------------------------
キャッチコピー
-------------------------------------------*/

.catch {
  margin: 80px auto 0;
  width: 40%;
  text-align: center;
  color: #fff;
  text-shadow: 0px 10px 15px #316482;

  @media screen and (max-width: 599px) {
    width: 80%;
    margin: 80px auto 0;
  }

  span {
    font-size: 2.4rem;
    text-shadow: 0px 10px 6px #316482;
  }

  p {
    display: inline-block;

    @media screen and (max-width: 599px) {
      margin-top: 0;
      font-size: 1.4rem;
    }
  }
}

/*-------------------------------------------
メイン
-------------------------------------------*/

// https://www.webcreatorbox.com/tech/border-radius

#main {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 120px;

  @media screen and (max-width: 899px) {
    margin: 80px auto;
    padding: 0 20px;
  }

  @media screen and (max-width: 900px) {
    margin: 40px auto;
  }
}

#service,
#works,
#contact {
  margin-bottom: 160px;

  @media screen and (max-width: 599px) {
    width: 100%;
  }
}

/*-------------------------------------------
サービス
-------------------------------------------*/

#service {
  position: relative;

  .service-content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 599px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  .service-menu {
    position: relative;
    background: #c7e1ed;
    padding: 56px 40px;
    margin-right: 60px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    //TODO:割り切れなくても良し
    width: calc(96% / 3);
    height: 450px;

    @media screen and (max-width: 899px) {
      margin-right: 40px;
    }

    @media screen and (max-width: 599px) {
      width: 90%;
      margin-right: 0;
      margin-bottom: 80px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    .wave {
      position: absolute;
      height: 50px;
      width: 100%;
      background: #c7e1ed;

      bottom: 0;
      left: 0;
    }

    .wave::before,
    .wave::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 100% 50%;
    }

    .wave::before {
      width: 55%;
      height: 109%;
      background-color: #fff; /* 右側の波 */
      right: -4%;
      top: 60%;
    }
    .wave::after {
      width: 55%;
      height: 106%;
      background: #c7e1ed; /* 左側の波 */
      left: 0;
      top: 40%;
    }
  }

  img {
    width: 80px;
  }

  p {
    @media (max-width: 1024px) and (min-width: 600px) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: 599px) {
      font-size: 1.6rem;
    }
  }

  .service-title {
    font-size: 40px;
    font-family: Oleo Script;
    color: #fff;
    opacity: 0.7;
    margin: 16px 0;
  }

  // https://125naroom.com/web/2864
  .arrow {
    position: relative;
    display: inline-block;
    color: #c4c4c4;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 0 16px 24px;
      border-color: transparent transparent transparent #c4c4c4;
      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -6px;

      @media screen and (max-width: 899px) {
        border-width: 12px 0 12px 20px;
        right: 8px;
      }
    }

    @media screen and (max-width: 599px) {
      display: none;
    }
  }
}

/* アニメーション前 */
.u-fade-type-up {
  transform: translateY(50px);
  opacity: 0;
}

/* トリガー発火でis-activeを付与 */
.u-fade-type-up.is-active {
  transition: 0.6s;
  transform: translateY(0);
  opacity: 1;
}

.is-active .u-fade-type-up:nth-child(2) {
  transition-delay: 0.4s;
}
.is-active .u-fade-type-up:nth-child(3) {
  transition-delay: 0.8s;
}

/*-------------------------------------------
ワークス
-------------------------------------------*/

#works {
  .grid {
    display: grid;
    grid-gap: 20px; /* 行列の隙間 */
    width: 100%;
    margin: 0 auto;

    // 最小300px、最大は画面幅に合わせる処理をアイテムがある分繰り返す
    // fr=外枠に合わせてグリッドを分割し、そのサイズを自動調整する
    // 参考：https://web.hazu.jp/grid-layout-02/
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .g-item {
    text-align: center;
  }

  .readmore {
    margin: 80px auto 0;
    width: 200px;
    height: 60px;
    background: #fff;
    border: 2px solid #95c5e0;
    border-radius: 10px;
    display: block;
    line-height: 60px;
    text-align: center;

    a {
      display: block;

      &:hover {
        color: #fff;
      }
    }

    &:hover {
      cursor: pointer;
      background: #95c5e0;
      transition-duration: 0.3s;
    }
  }
}

/*-------------------------------------------
アバウト
-------------------------------------------*/

#about {
  margin: 0 auto 360px;
  width: 100%;
  position: relative;

  @media screen and (max-width: 599px) {
    width: 100%;
  }

  .about-1,
  .about-2 {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    @media screen and (max-width: 599px) {
      width: 270px;
      height: 200px;
    }
  }

  .about-1 {
    background: rgba(149, 197, 224, 0.5);
    border: 2px solid #95c5e0;
    // margin-left: 24px;

    @media screen and (max-width: 599px) {
      margin-left: 0;
    }

    .txt {
      p {
        text-align: center;

        @media screen and (max-width: 599px) {
          font-size: 1.4rem;
        }
      }

      .black-fish {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  .about-2 {
    background: rgba(199, 225, 237, 0.2);
    border: 2px solid #95c5e0;
    position: absolute;
    top: 90%;
    right: 0%;
    // margin-right: 24px;

    @media screen and (max-width: 599px) {
      margin-right: 0;
    }

    .txt {
      p {
        text-align: center;

        @media screen and (max-width: 599px) {
          font-size: 1.4rem;
        }
      }

      .sitename {
        font-family: Oleo Script;
        font-size: 2.5rem;
      }

      .myname {
        margin-bottom: 20px;
      }
    }
  }

  // .about-img,
  // .about-txt {
  //   width: 50%;
  //   height: 300px;
  // }

  // .about-img {
  //   background: #c9c9c9;
  // }

  // dl {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // }

  // dt {
  //   width: 30%;
  // }

  // dd {
  //   width: 70%;
  // }
}

/*-------------------------------------------
コンタクト
-------------------------------------------*/

#contact {
  position: relative;

  form {
    width: 600px;
    margin: 0 auto;

    @media screen and (max-width: 599px) {
      width: 100%;
    }

    input,
    textarea,
    select {
      width: 100%;
      background: #c7e1ed;
      border-style: none;
      border-radius: 5px;
      font-size: 16px;
    }

    input,
    select {
      height: 40px;
      margin-bottom: 30px;
    }

    textarea {
      margin-bottom: 30px;
    }

    .red-fish {
      font-size: 1.6rem;
      color: #ee0202;
    }

    select {
      width: 50%;

      @media screen and (max-width: 599px) {
        width: 100%;
      }
    }

    .submit {
      display: flex;
      justify-content: center;

      button {
        margin: 80px auto 0;
        width: 200px;
        height: 60px;
        background: #fff;
        border: 2px solid #95c5e0;
        border-radius: 10px;
        display: block;
        line-height: 60px;
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: 0.08em;

        a {
          display: block;
        }

        &:hover {
          cursor: pointer;
          background: #95c5e0;
          color: #fff;
          transition-duration: 0.3s;
        }
      }
    }
  }
}

/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  height: 80px;
  background: #95c5e0;
  display: flex;
  align-items: center;
  justify-content: center;

  .copyright {
    color: #fff;
  }
}

/*-------------------------------------------
サンプル一覧
-------------------------------------------*/

.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0;

  li {
    padding: 20px;
    width: 40px;
    height: 50px;
    background: #fff;
    border: 1px solid #c7e1ed;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      background: #c7e1ed;
      border: 1px solid #c7e1ed;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: block;
  }
}

/*-------------------------------------------
サンプル個別
-------------------------------------------*/

.sample-view {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 120px;

  @media screen and (max-width: 599px) {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  p {
    display: inline-block;
  }

  img {
    width: 100%;
    height: auto;
    border: 1px solid #c9c9c9;
    margin: 0 auto;
  }
}

.sample-txt {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;

  dt,
  dd {
    padding: 20px 0;
    border-bottom: 1px solid #c6c6c6;
  }

  dt {
    width: 20%;
  }

  dd {
    width: 80%;
  }

  @media screen and (max-width: 599px) {
    // margin: 20px auto 0;
    margin-top: 20px;
    font-size: 1.2rem;
  }

  a {
    color: #95c5e0;

    &:hover {
      border-bottom: none;
    }
  }
}

#openModal {
  position: absolute;
  top: -2px;
  left: 120px;
  width: 140px;
  background: #c7e1ed;
  opacity: 0.9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media screen and (max-width: 599px) {
  }

  p {
    text-align: center;
  }
}

// 参考：https://myscreate.com/pure-modal/
// https://myscreate.com/modal-without-jquery/

/* モーダルCSSここから */
.modalArea {
  visibility: hidden; /* displayではなくvisibility */
  opacity: 0;
  position: fixed;
  z-index: 10; /* サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
  height: 90%; //お好みの高さで固定
  overflow: auto; //状況に応じて縦スクロールバーが出現

  @media screen and (max-width: 599px) {
    width: 90%;
    height: 80%;
    padding: 5px;
  }
}

.modalContents {
  img {
    border: 1px solid #c9c9c9;
    max-width: 300px;
  }
}
.closeModal {
  position: absolute;
  top: 0;
  right: 2rem;
  cursor: pointer;
  font-size: 5rem;

  @media screen and (max-width: 599px) {
    top: 0.8rem;
    right: 1.6rem;
  }
}

.is-show {
  /* モーダル表示用クラス */
  visibility: visible;
  opacity: 1;
}
/* モーダルCSSここまで */
